<div [class.blur3]="gameOver">
    <!-- min-width 800px players on right side -->
    <div class="mobile-players hide-mobile">
        <app-players-on-top *ngFor="let player of game.players; let i = index;" [ngStyle]="{'left.px': i * 70 + 10}"
            class="player-position" (click)="customizePlayerDialog(i)" [name]="player"
            [playerActive]="i == game.currentPlayer" [img]="game.player_images[i]"></app-players-on-top>
    </div>
    <!-- min-width 800px players on right side -->
    <div class="all-player-container hide-large">
        <app-players *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': i * 75 + 5}"
            class="player-position" (click)="customizePlayerDialog(i)" [name]="player"
            [playerActive]="i == game.currentPlayer" [img]="game.player_images[i]"></app-players>
    </div>
    <!-- game -->
    <div class="field">
        <div class="card-stack">
            <!--card stack-->
            <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5}"
                src="assets/img/cards/card_cover.png">
            <img (click)="takeCard()" class="top-card" style="right: 25px;" src="assets/img/cards/card_cover.png">
            <!--stack for played cards-->
            <img *ngFor="let card of game.playedCards" src="assets/img/cards/{{ card }}.png" class="played-card">
            <!--current card animation-->
            <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px;"
                src="assets/img/cards/{{ game.currentCard }}.png">
        </div>
    </div>
    <!-- card-info -->
    <app-game-info class="info-box" [card]="game.currentCard"></app-game-info>
    <!-- add player -->
    <button mat-fab color="primary" class="btn-add" (click)="addPlayerDialog()">
        <mat-icon>add</mat-icon>
    </button>
    <!-- preload image -->
    <img src="assets/img/cards/{{ game.stack[game.stack.length-1] }}.png" class="preload-image">
</div>
<!-- GAME OVER SCREEN -->
<div class="game-over" [class.game-over-show]="gameOver">
    <img src="../../assets/img/gameover.png">
</div>