.player-active {
    background-color: rgb(245, 122, 77, 0.7) !important;
}

.player-position {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 60px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(81, 72, 68, 0.5);

    span {
        width: 100%;
        text-align: center;
        overflow-wrap: break-word;
        font-weight: 800;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    img {
        height: 50px;
        width: 50px;
    }
}
